.App {
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(132, 169, 140, 0.7);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(132, 169, 140);
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 40px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
