.reminderContainer {
  display: flex;
  flex-direction: column;
}

.alert {
  width: auto;
  height: auto;
  max-width: 20pt;
  filter: invert(10%) sepia(66%) saturate(3100%) hue-rotate(349deg)
    brightness(97%) contrast(119%);
}

.red {
  color: #660000;
}

fieldset {
  border: 4px solid #660000;
  border-radius: 20px;
}

.refill {
  color: #cad2c5;
  font-family: "Roboto", sans-serif;
  font-size: 20pt;
  font-weight: 400;
  margin-top: 15vh;
}

.dashboardPic {
  max-height: 60vh;
  width: auto;
  height: auto;
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.refillMed {
  min-width: 300px;
}
