.schedule {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  margin-left: 125px;
}

.greeting {
  color: #cad2c5;
  font-family: "Roboto", sans-serif;
  font-size: 50pt;
  font-weight: 400;
  margin: 0;
}

.greeting2 {
  color: #cad2c5;
  font-family: "Roboto", sans-serif;
  font-size: 30pt;
  font-weight: 300;
  margin-bottom: 30px;
}

.green {
  color: #84a98c;
}

.table {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.medication {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.medName {
  font-weight: 500;
}

.instructions {
  margin-left: 60pt;
  font-weight: 300;
}

.medTime {
  color: #84a98c;
  font-family: "Roboto", sans-serif;
  font-size: 30pt;
  font-weight: 400;
  width: 15vw;
}

.medication {
  color: #cad2c5;
  font-family: "Roboto", sans-serif;
  font-size: 20pt;
  font-weight: 400;
  width: 40vw;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 2em;
  width: 2em;
  background-color: transparent;
  border-radius: 5px;
  border: 4px solid #84a98c;
  vertical-align: top;
  margin-bottom: 0;
}

input[type="checkbox"]:hover {
  background-color: rgba(202, 210, 197, 0.2);
}

input[type="checkbox"]:checked {
  background-color: #84a98c;
  /* checkmark */
  background-image: url("check.svg");
  background-size: 14pt 14pt;
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked + .medLabel {
  text-decoration: line-through #cad2c5 solid 3px;
}

.medLabel {
  margin-left: 15px;
}
