.left {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  width: 55%;
  min-width: 700px;
}

.title {
  width: 45vw;
  float: right;
  min-width: 600px;
  margin-top: -7%;
}

.h2 {
  color: #84a98c;
  font-family: "Roboto", sans-serif;
  font-size: 30pt;
  font-style: italic;
  line-height: 1;
  max-width: 40vw;
  margin: 0 0 0 auto;
}
