.right {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-top: 5%;
  min-width: 400px;
}

/* form, buttons */

.input {
  width: 50%;
  padding: 5px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 3px solid #354f52;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  color: #cad2c5;
  outline: none;
}

.inputText,
.button2 {
  color: #84a98c;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  background: transparent;
  border: none;
  font-size: 20px;
}

.button2:hover {
  color: #cad2c5;
}

::placeholder {
  color: #cad2c5;
  opacity: 0.5;
  font-family: "Roboto", sans-serif;
}

.button {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  color: #cad2c5;
  border: none;
  margin-bottom: 15px;
}

.button:hover {
  color: #84a98c;
}

.error {
  color: #660000;
  display: none;
}

.confirm {
  color: #8dd37f;
  display: none;
}

.show {
  display: block !important;
}
