.add {
  background-color: #cad2c5;
  position: fixed;
  height: 95vh;
  width: 50vw;
  min-width: 700px;
  border-radius: 50px;
  box-shadow: 0.5vw 1vh 10px #2f3e46;
  right: 100px;
  margin-left: 50%;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  margin-right: 5vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  z-index: 2;
}

.editMedication {
  background-color: #cad2c5;
  position: fixed;
  height: 95vh;
  width: 50vw;
  min-width: 700px;
  border-radius: 50px;
  box-shadow: 0.5vw 1vh 10px #2f3e46;
  right: 200px;
  margin-left: 50%;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  margin-right: 5vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  z-index: 1;
}

.margin {
  margin: 5%;
}

.edit {
  display: none;
}

.delete {
  height: 40pt;
  filter: invert(21%) sepia(26%) saturate(2946%) hue-rotate(333deg)
    brightness(91%) contrast(90%);
}

body {
  font-size: large;
}

.addInput {
  border: none;
  background-color: rgba(47, 62, 70, 0.5);
  font-size: large;
  border-radius: 10px;
  margin: 5px 10px 0px 10px;
  padding: 4px;
  color: white;
}

.doseType {
  margin-bottom: 10pt;
}

.doseFrequency {
  border: none;
  background-color: rgba(47, 62, 70, 0.5);
  font-size: large;
  border-radius: 10px;
  padding: 4px;
  color: white;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10pt;
}

.refillDate {
  border: none;
  background-color: rgba(47, 62, 70, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: large;
  border-radius: 10px;
  padding: 4px;
  color: white;
  margin-right: 10px;
  margin-bottom: 10pt;
  width: 110px;
}

.react-datepicker-wrapper {
  width: auto !important;
}

.addInstructions {
  display: flex;
  flex-direction: column;
}

.largeInput {
  border: none;
  background-color: rgba(47, 62, 70, 0.5);
  font-size: large;
  border-radius: 10px;
  margin: 4px 0px 0px 0px;
  padding: 4px;
  color: white;
  height: 80px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10pt;
  max-width: 100%;
  min-width: 100%;
}

.addMedName {
  width: 60%;
}

.addMedDose {
  width: 20%;
}

.addMedFrequency,
.remindDate {
  width: 50px;
  margin-bottom: 0;
}

.doseFrequency {
  margin-bottom: 0;
}

.checkboxMedTimeContainer,
.checkboxMedDayContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checkboxMedTime,
.checkboxMedDay {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10pt;
}

.addMedTime:checked + .addMedLabel,
.addMedDay:checked + .addMedLabel {
  font-weight: 700;
}

.addMedLabel {
  padding-left: 5px;
}

.addRefill {
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.refillReminder {
  display: flex;
  flex-direction: column;
  margin-bottom: 10pt;
  margin-top: 5pt;
}

.presetDays {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.addButtonsBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cancelSave {
  display: flex;
  flex-direction: row;
}

.cancel {
  color: #52796f;
  opacity: 0.5;
  margin-right: 20px;
  margin-top: 5px;
  cursor: default;
}

.cancel:hover {
  text-decoration: underline solid 2px #52796f;
  opacity: 1;
}

.deleteButton {
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.visibilityHide {
  visibility: hidden;
}

.deleteButton:hover {
  opacity: 1;
}

.submitButton {
  border: none;
  background-color: #84a98c;
  border-radius: 10px;
  font-size: 15pt;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 4px 20px;
}

button.submitButton:active {
  background-color: gray;
}

/* radio button formatting */

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  margin-right: 5px;
  font: inherit;
  color: currentColor;
  width: 1.4em;
  height: 1.4em;
  border: 4px solid #d0a8a8;
  border-radius: 50%;
  transform: translateY(0.2em);
  box-sizing: border-box;
  padding: 2px;
}

input[type="radio"]:checked {
  /* the dot inside the radio button */
  background-image: url("images/radio.svg");
  background-size: 0.6em 0.6em;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.addHeader,
.editHeader {
  display: none;
}

/* edit medication */

.deletePopup {
  background-color: #2f3e46;
  color: #fff;
  border-radius: 6px;
  padding: 15px;
  text-align: center;
  width: 50%;
  min-width: 400px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
  box-shadow: 0.25vw 0.5vh 5px rgba(0, 0, 0, 0.5);
}

.deletePopupButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.yesDelete,
.noDelete {
  border: none;
  border-radius: 10px;
  font-size: large;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 4px 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  width: fit-content;
}

.yesDelete {
  background-color: #52796f;
}
.noDelete {
  background-color: gray;
}

.yesDelete:active,
.noDelete:active {
  background-color: rgb(96, 96, 96);
}
