/* legend */

.legend {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  right: 0;
  margin: 3%;
  margin-right: 10%;
}

.legendCheckbox {
  transform: translateY(-0.4em);
  margin-right: 7px;
}

/* ----------------- calendar ----------------- */

/* main container */
.background {
  background-color: #cad2c5;
  position: fixed;
  height: 90vh;
  width: 90vw;
  border-radius: 50px;
  box-shadow: 0.5vw 1vh 10px #2f3e46;
  margin-left: 125px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-right: 5vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

/* calendar container */
.rbc-calendar {
  margin: 2.5%;
  width: 95%;
  height: 95%;
  background: transparent;
  font-family: "Roboto", sans-serif;
  color: #2f3e46;
  font-size: 20pt;
  text-align: left;
}

/* all the buttons on the calendar */
.rbc-btn-group {
  border: solid 4px #cad2c5;
  border-radius: 15px;
}

.rbc-btn-group button {
  border-radius: 20px !important;
}

/* top section */
.rbc-toolbar {
  display: flex;
  height: 44px;
  margin-bottom: 2vh;
  -webkit-box-pack: left !important;
  -ms-flex-pack: left !important;
  justify-content: left !important;
  -webkit-box-align: left !important;
  -ms-flex-align: left !important;
  align-items: left !important;
}

/* navigation arrow appearance */
.rbc-toolbar button {
  font-size: 40pt;
  font-family: "Roboto", sans-serif;
  color: #84a98c !important;
  background-color: transparent !important;
}

.rbc-toolbar button:hover {
  opacity: 0.5;
}

.rbc-toolbar button:active {
  opacity: 0.5;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* month year text */
.rbc-toolbar-label {
  font-size: 40pt;
  font-family: "Roboto", sans-serif;
  text-transform: lowercase;
  color: #52796f;
  flex-grow: 0 !important;
}

/* headings for each day of the week */
.rbc-header {
  text-transform: lowercase;
  font-weight: 400 !important;
  font-size: 20pt !important;
  margin-top: 2vh;
  padding: 0.5vh;
  border: none !important;
}

.rbc-month-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* neighbouring month tile display */
.rbc-off-range,
.rbc-off-range-bg {
  visibility: hidden;
}

/* tile properties */
.rbc-day-bg {
  background: rgba(255, 255, 255, 0.2);

  border-radius: 7px;
  margin: 3px;
}

.rbc-date-cell button {
  font-size: 15pt !important;
  font-style: "Roboto", sans-serif;
  margin: 10px 10px 0 0;
}

/* tile hover */
.rbc-day-bg:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.rbc-rtl,
.rbc-btn-group,
.rbc-toolbar button,
.rbc-month-view,
.rbc-month-row {
  border: none !important;
}

/* event */

.rbc-row-segment {
  margin: 3px !important;
  overflow: scroll !important;
  padding: 0 0 0 0 !important;
}

.rbc-event-content {
  font-size: 15pt !important;
}

.rbc-event {
  background-color: #84a98c !important;
}

.rbc-show-more {
  background-color: transparent !important;
  color: #84a98c !important;
  font-size: 15pt !important;
}
