/* legend */

.legend {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  right: 0;
  margin: 3%;
  margin-right: 10%;
}

.legendCheckbox {
  transform: translateY(-0.4em);
  margin-right: 7px;
}

/* ----------------- calendar ----------------- */

/* main container */
.background {
  background-color: #cad2c5;
  position: fixed;
  height: 90vh;
  width: 90vw;
  border-radius: 50px;
  box-shadow: 0.5vw 1vh 10px #2f3e46;
  margin-left: 125px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-right: 5vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

/* calendar container */
.react-calendar {
  margin: 2.5%;
  width: 95%;
  height: 95%;
  background: transparent;
  font-family: "Roboto", sans-serif;
  color: #2f3e46;
  font-size: 20pt;
  text-align: left;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* all the buttons on the calendar */
.react-calendar button {
  border: solid 4px #cad2c5;
  border-radius: 15px;
}

/* top section */
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 2vh;
}

/* buttons to control moving back and forth months */
.react-calendar__navigation button {
  background: none;
}

/* navigation arrow appearance */
.react-calendar__navigation__arrow {
  font-size: 40pt;
  font-family: "Roboto", sans-serif;
  color: #52796f;
}

.react-calendar__navigation__arrow:hover {
  opacity: 0.5;
}

/* month year text */
.react-calendar__navigation__label__labelText {
  font-size: 40pt;
  font-family: "Roboto", sans-serif;
  text-transform: lowercase;
  color: #52796f;
}

/* month year text used to be centred, overriding the default */
.react-calendar__navigation__label {
  flex-grow: 0 !important;
}

/* changing colour of << and >> button */
.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  color: #84a98c;
}

/* headings for each day of the week */
.react-calendar__month-view__weekdays {
  text-transform: lowercase;
  font-weight: 400;
  font-size: 20pt;
  margin-top: 2vh;
  margin-left: 1vh;
  padding: 0.5vh;
}

/* removes weird dotted underline default style */
.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

/* neighbouring month tile display */
.react-calendar__month-view__days__day--neighboringMonth {
  visibility: hidden;
}

/* sets size of tile */
.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
  grid-template-rows: 15vh 15vh 15vh 15vh 15vh 15vh;
}

/* tile properties */
.react-calendar__tile {
  background: rgba(255, 255, 255, 0.2);
  font-size: 15pt;
  font-style: "Roboto", sans-serif;
  text-align: left;
  padding: 10px;
}

/* text color in tiles */
abbr {
  color: #2f3e46;
}

/* tile hover */
.react-calendar__tile:enabled:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* clicking on tile */
.react-calendar__tile--active:enabled:focus {
  background: rgba(255, 255, 255, 0.8);
}
