.navBar {
  background: #cad2c5;
  height: 100%;
  width: 75px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
}

.navButton {
  display: flex;
  flex-direction: row;
}

/* header/footer */
.logo,
.logout {
  height: 10vh;
}

.middle {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* icon */

.icon {
  width: 40px;
  margin-left: 17.5px;
  margin-right: 17.5px;
  margin-top: 20px;
}

/* dashboard */

.icon1 {
  background-image: url("images/home.svg");
  background-position: center;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  border: none;
  background-color: transparent;
}

.icon1-active {
  background-image: url("images/home2.svg"), url("images/triangle.svg");
  background-position: center, right;
  background-size: 35px 35px, 15px 15px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  border: none;
  background-color: transparent;
  z-index: 1;
}

.icon1:hover {
  background-image: url("images/home2.svg");
}

/* calendar */

.icon2 {
  background-image: url("images/calendar.svg");
  background-position: center;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  border: none;
  background-color: transparent;
}

.icon2-active {
  background-image: url("images/calendar2.svg"), url("images/triangle.svg");
  background-position: center, right;
  background-size: 35px 35px, 15px 15px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  border: none;
  background-color: transparent;
  z-index: 1;
}

.icon2:hover {
  background-image: url("images/calendar2.svg");
}

/* my medications */

.icon3 {
  background-image: url("images/edit.svg");
  background-position: center;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  border: none;
  background-color: transparent;
}

.icon3-active {
  background-image: url("images/edit2.svg"), url("images/triangle.svg");
  background-position: center, right;
  background-size: 35px 35px, 15px 15px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  border: none;
  background-color: transparent;
  z-index: 1;
}

.icon3:hover {
  background-image: url("images/edit2.svg");
}

/* settings */

.icon4 {
  background-image: url("images/settings.svg");
  background-position: center;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  border: none;
  background-color: transparent;
}

.icon4-active {
  background-image: url("images/settings2.svg"), url("images/triangle.svg");
  background-position: center, right;
  background-size: 35px 35px, 15px 15px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  border: none;
  background-color: transparent;
  z-index: 1;
}

.icon4:hover {
  background-image: url("images/settings2.svg");
}

/* logout */

.logoutButton {
  background-image: url("images/logout.svg");
  background-position: center;
  background-size: 35px 35px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  border: none;
  background-color: transparent;
}

.logoutButton:hover {
  background-image: url("images/logout2.svg");
}

/* tooltip */

.tooltipText {
  background-color: #2f3e46;
  color: #fff;
  border-radius: 6px;
  padding: 7px;
  position: absolute;
  left: 70px;
  white-space: nowrap;
  margin-top: 20px;
  opacity: 0;
  z-index: 1;
}

.logOutTooltip {
  top: 90%;
}

.navButton:hover > .tooltipText,
.logout:hover > .tooltipText {
  transition: opacity 0.3s;
  opacity: 1;
}
